Assets_test/Library/**
Assets_test2/Library/**
2020GameProject/Library/**
Assets_test/Temp/**
Assets_test2/Temp/**
2020GameProject/Temp/**
2020GameProject/Assem*
2020GameProject/.vs/**/*
2020GameProject/obj/Debug/**